name: Auto

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - opened
      - edited
      - reopened

jobs:
  env-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with: 
          submodule: true

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'

      - run: npm install

      - run: cd ./auto/ && yarn install

      - run: cd ./auto/ && yarn build

      - run: node ./auto/packages/cli/dist/bin/auto.js info --verbose -v -vv
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
