name: Auto

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - opened
      - edited
      - reopened

jobs:
  env-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with: 
          fetch-depth: 0
          submodules: recursive

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'

      - run: npm install

      - run: ls

      - run: ls
        working-directory: ./auto/

      - run: yarn install
        working-directory: ./auto/

      - run: yarn build
        working-directory: ./auto/

      - run: node ./auto/packages/cli/dist/bin/auto.js info --verbose -v -vv
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
